##########################################
# default ignores
##########################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/shared_mem_create.c

##########################################
# custom ingores
##########################################
.vscode/*
test/*
Testing/*


# build files
src/manager
src/simulator
src/firealarm
src/manager.o
src/simulat.o
src/firealarm.o
*.o


##########################################
# don't ignore these files
##########################################
!.vscode/tasks.json